*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width:100%;
    height:100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(to right bottom, #042954, #810092);
}

#Calculator_body{
    width:20%;
    height:65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

.abc{
    width:40%;
}

.display_input{
    position: relative;
    background-color:aliceblue;
    width: 100%;
    height:25%;
    top:-5vh;
    border-style: none;
    border-radius: 10px;
}

input[value]{
    position: relative;
    color:blue;
    font-size: 1.5rem;
}

.buttons{
    /* position: absolute; */
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
}
.buttons table{
    width: 90%;
    height: 95%;
    border-collapse: collapse;
}

.buttons table tr td{
    font-size: 1.2rem;
    width: 25%;
    text-align: center;
}
.btn{
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
    background-color: rgba(115, 228, 225, 0.86);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color:rgb(9, 131, 127);
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
}
.box {
    border-radius: 10px;
    background-color: rgba(228, 203, 115, 0.86);
    color: rgba(253, 8, 8, 0.532);
}

.btn:hover{
    transform: scale(1.1);
}

#scientific_div {
    position: relative;
    width: 90%;
    height: 95%;
    display: none;
}
#scientific_div table{
    width:100%;
    height:100%;
    justify-self: center;
    /* margin-left: 25px; */
    border-collapse: collapse;
}
#scientific_div button{
    font-size: 1.2rem;
}

